@import url("../styles/nomalize.css");
@import url("../styles/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/* base variable */
:root {
	/* size */
	--base-unit: 8px;
	/* color */
	--bg-gray: #ebebeb;
	--bg-black: #2a2a2a;
	--rgba-light-gray: rgba(0, 0, 0, 0.04);
	--rgba-deep-gray: rgba(0, 0, 0, 0.16);
	--mono-white: #ffffff;
	--mono-black: #0e0e0e;
	--point-1-light: #f9a5d6;
	--point-1-deep: #ff8ccf;
	--point-2: #bcf975;
	--point-3: #6bf1d2;
}

/* font */
/* font face */
body {
	font-family: "Noto Sans KR", sans-serif;
	color: var(--mono-black);
	font-weight: 500;
}
.dmSans {
	font-family: "DM Sans", sans-serif;
}
/* font size */
h1 {
	font-size: calc(var(--base-unit) * 6);
}
.title {
	font-size: calc(var(--base-unit) * 3);
}
body {
	font-size: calc(var(--base-unit) * 2);
}
.smallBody {
	font-size: 14px;
}
.caption {
	font-size: 14px;
	font-weight: 500;
}
/* font weight */
h1,
h2,
h3,
h4,
h5 {
	font-weight: 600;
}
.bold {
	font-weight: 600;
}

/* text */
.capitalize {
	text-transform: capitalize;
}
.nowrap {
	white-space: nowrap;
}

/* container */
body {
	background-color: var(--bg-black);
	box-sizing: border-box;
	padding: calc(var(--base-unit) * 10);
}
#root {
	background-color: var(--bg-gray);
	padding: 0 calc(var(--base-unit) * 5);
}
.pdb24 {
	padding-bottom: 24px;
}
main {
	min-height: calc(100vh - 426px);
}

/* svg */
svg * {
	transition: 0.3s ease;
}
svg:hover * {
	fill: var(--point-1-deep);
	fill-opacity: 1;
}

/* cursor */
.pointer {
	cursor: pointer;
	transition: 0.4s ease;
	&:hover {
		transform: translateY(-2px);
	}
}

/* link */
.link {
	opacity: 60%;
	text-decoration: underline;
}
